<html>
<head>
<title><title>website</title>
<link rel="stylesheet" href="../Static/css/style.css">
</head>
<body >
<!-- menu goes here-->
<div class="About">
<center>
<a href="home.html">Home</a>|<b>About</b>|<a href="service.html">Service</a>|<a href="contact.html">Contact</a>
</center>
<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<center>
<p>"A photograph is a full expressionof what one feels about what is being photographed in the deepest sense and is,thereby
<br>
a true expression of what one feels about life in its entirely"</p>
<br>
</center>
</div>
</body>
</title>
</html>