<html>
<head>
<title><title>website</title>
<link  rel="stylesheet" href="../Static/css/style.css">
</head>
<body>
<div class="contact">
<!-- menu goes here-->
<center>
<a href="home.html">Home</a>|<a href="about.html">About</a>|<a href="service.html">Service</a>|<b>Contact</b>
</center>
<center>
    <p>"A photograph is a full expressionof what one feels about what is being photographed in the deepest sense and is,thereby
        <br>
        a true expression of what one feels about life in its entirely"</p>
        <br>
        <br>
        <br>
        <br>
        <br><br><br><br><br><br>
<br><br><br><br><br><br>
<br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br>
<br><br><br><br><br><br>
<br><br><br><br><br>
<center>
<p> 1234, sai sree hotel,Mumbai.
<br>
Any enquires about photography call this no
<br>
894799273
<br>
Thank you
<br>
</center>
</div>
</body>
</title>
</html>