<DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <title>website</title>
        <link rel="stylesheet" href="../Static/css/style.css">
    </head>

    <body>
        <div class="home">
       
        <bottom>
            <h1>PHOTOGRAPHY</h1>
        </bottom <!-- menu goes here-->
        <center>
            <br>
            <a href="home.html">Home</a>|<a href="about.html">About</a>|<a href="service.html">Service</a>|<a
                href="contact.html">Contact</a>
        </center>
        <br>
        <br>
        <center><a href="Register.html">Register</a>
        </center>
        </h1>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>

    </body>

    </html>