<html>

<head>
    <title>
        <title>website</title>
        <link rel="stylesheet" href="../Static/css/style.css">
</head>

<body>
    <div class="service">
        <!-- menu goes here-->
        <center size="8">
            <a href="home.html">Home</a>|<a href="about.html">About</a>|<b>Service</b>|<a
                href="contact.html">Contact</a>
        </center>
        <center>
            <p>Many services they are provided
                <br>
                <br>
                <br>
                Photography documents your journey through life.
                <br>From your childhood pictures to your child's pictures to your grandchild's pictures...
                <br>
                <br>
                Photography help you find beauty in the world....
                <br>
                <br>
                Photography preserves new and old memories....
                <br>
                <br>
                Photography is an act of creating.
                <br>
                <br>
                If your pictures aren't good enough
                <br>
                you aren't close enough....
            </p>
            <br>
        </center>
    </div>
</body>
</title>

</html>