<html>
<head>
<title> RESUME </title>
</head>
<body>
<center>
<h2> 
<u> MY RESUME </u>
</h2>
</center>
<h1>
<u> MAHIMA M</u>
</h1>
<h5>Emailid:mahi1711999@gmail.com</h5>
<h5>Contact:6385416775</h5>
<h3>
    <u>CAREER OBJECTIVES</u>
    </h3>
    Seeking a challenging and rewarding opportunity in an organization which recognize and utilize my true potential while nurturing my analytical and technical skills.
    <h3>
    <u>ACADAMIC QUALIFICATION</u>
    </h3>
    <table border=4 width=700>
    <tr>
    <th>Course</th>
    <th>Institution</th>
    <th>Year of passing</th>
    <th>Marks/CGPA</th>
    </tr>
    <tr>
        <th>HSC</th>
<th>Government higher secory school</th>
<th>2017</th>
<th>63%</th>
</tr>
<tr>
<th>SSLC</th>
<th>Philominals high school</th>
<th>2014</th>
<th>70%</th>
</tr>
</table>
<h3>
<u>PROFFESSIONAL PROFICIENCY</u>
</h3>
<ul>
     <b>
     <h3>
     <li>Language: C,C++,java</li>
     <li>Web Tchnology: html,css,js</li>
     <li>Database: mysql</li>
     </h3>
     </b>
</ul>
<h3>
<u>WORKSHOP AND INTERNSHIPS</u>
</h3>
<ul>
     <b>
     <li>Attended a workshop and competion on RVS arts and science for CODE ZAPPIES 2019 and 2020.</li>
     <li>Attended a workshop as DST-NIMAT Sponsored Three days Enterpreneurship Awareness Camp(EAC) from 04 to 06 December2019 at Kumaraguru college of enginnering and technology.</li>
     <li>Attended a workshop on Engineering Graphics an Indian National book of records attempt on solving maximum number of problem in 30mins on April28,2020,Chennai.</li>
     <li>Attended a webinar Recent advancement in machine learning on 25th may 2020 at RVS college of Engineering and technology.</li>
     <li>Student Organizer at National level Technical Symposium TECHMIRA19 at RVS college of engineering and technology.</li>
     <li>Complete a course on JAVa in online at IIM University,Bangalore.</li>
     </b>
</ul>
<h3>
<u>PERSONAL INFORMATION</u>
</h3>
<ul>
     <b>
     <li>Name:Mahima.M</li>
     <li>DOB:17-01-1999</li>
     <li>Father's Name:Murugan.M</li>
     <li>Mother's Name:Nagamani.M</li>
     <li>Address:178,Balasubramaniam nagar,Sowripalayam road,Puliakulam.Coimbatore-641045.</li>
     <li>Language's Known:English,Tamil,Malayalam.</li>
     </b>
</ul>
<h3>
<u>DECLARATION</u>
</h3>
<b>Hereby I declare that the information contsined above is true to the best of my knowledge.</b>
<br>
<br>
<b>Place:Coimbatore:</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Your's Sincerly,</b>
<br>
<b>Date:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Mahima.M</b>
<center>
<a href="home.html">Home</a>
</body>
</html>